{% extends 'base/principal.html' %}

{% block title %}
    Editar Perfil
{% endblock title %}

{% block content %}

<div class="barra-superior">
    <a href="{% url 'tareas' %}">&#x1F860; Volver</a>
</div>

<div class="cuerpo-tarjeta">
    <form method="post">
        {% csrf_token %}
        <!-- Mostrar el nombre de usuario actual -->
        <div>
            <label>Nombre de usuario:</label>
            <p>{{ form.username }}</p>
        </div>
        <!-- Campo de contraseña actual -->
        <div>
            <label for="id_password">Contraseña actual:</label>
            {{ form.password }}
            {% if form.errors.password %}
                <p class="error-message">{{ form.errors.password }}</p>
            {% endif %}
        </div>
        <!-- Campo de nueva contraseña -->
        <div>
            <label for="id_new_password">Nueva contraseña:</label>
            <input type="password" name="new_password" id="id_new_password">
        </div>
        <div>
            <label for="id_confirm_password">Confirmar contraseña:</label>
            <input type="password" name="confirm_password" id="id_confirm_password">
            {% if form.errors.confirm_password %}
                <p class="error-message">{{ form.errors.confirm_password }}</p>
            {% endif %}
        </div>
        <!-- Botón de enviar -->
        <button style="margin-top: 10px;" class="boton" type="submit">Guardar cambios</button>
    </form>
</div>

{% endblock content %}
