{% extends 'base/principal.html' %}

{% load i18n %}

{% block title %}
    {% trans "Iniciar Sesión" %}
{% endblock title %}

{% block content %}

<div class="barra-superior">
    <h1>{% trans "Ingresar" %}</h1>
</div>

<div class="cuerpo-tarjeta">
    <form method="post">
        {% csrf_token %}
        {{form.as_p}}
        <input class="boton" type="submit" value="{% trans 'Ingresar' %}">
    </form>
    <p>{% trans "No tienes una cuenta?" %} <a href="{% url 'registro' %}">{% trans "Regístrate" %}</a></p>
</div>

{% endblock content %}