{% extends 'base/principal.html' %}

{% load i18n %}

{% block title %}
    {% trans "Registro" %}
{% endblock title %}

{% block content %}

<div class="barra-superior">
    <h1>{% trans "Registrarse" %}</h1>
</div>

<div class="cuerpo-tarjeta">
    <form method="post">
        {% csrf_token %}
        <label>{{form.username.label}}</label>
        {{form.username}}
        <label>{{form.password1.label}}</label>
        {{form.password1}}
        <label>{{form.password2.label}}</label>
        {{form.password2}}
        <input style="margin-top: 10px;" class="boton" type="submit" value="{% trans 'Registrar' %}">
    </form>
    <p>{% trans "Ya tienes una cuenta?" %} <a href="{% url 'login' %}">{% trans "Ingresa" %}</a></p>
</div>

{% endblock content %}